* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#wrapper {
    padding: 20px;
}

div#header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}
div#destination_map {
    display: flex;
    justify-content: space-between;
}

div.destinations {
    background-color: darkslategrey;
    color: orange;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

div#activity_log {
    border: 2px solid gray;
    max-height: 400px;
    overflow-y: auto;
}

.gain {
    color: green;
}

.loss {
    color: red;
}

input[type="submit"] {
    color: white;
}